// COLORS
$primary-color: #ce1414;
$secondary-color: #861010;

$white-color: #e4d7d7;

$dark-grey: #272727;
$light-grey: #bdbdbd;

$dark-blue-text: #1f1b36; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
